<!-- classroom-card.html -->

<div class="classroom-card">
  <div class="card-header-custom">
    <div class="d-flex gap-3">
      <div class="icon-box">
        <i class="bi bi-people"></i>
      </div>
      <div>
        <h4>
          {{ card.title }}
        </h4>
        <small>
          Ensino Superior
        </small>
        <div class="students">
          <i class="bi bi-person"></i>
          {{ card.students }} alunos
        </div>
      </div>
    </div>

    <button class="menu-btn">
      <i class="bi bi-three-dots-vertical"></i>
    </button>

  </div>

  <div class="card-body-custom">
    <span class="section-title">
      Desempenho geral
    </span>

    <div class="performance-wrapper">

      <div
        class="progress-circle"
        [style.--progress]="performance + '%'"
        [style.--color]="color">

        <div class="progress-inner">
          {{ performance }}%
        </div>
      </div>

      <div class="performance-info">

        <h5 [style.color]="color">
          {{ status }}
        </h5>
        <span>
          Evolução:
          <strong
            [class.positive]="evolution >= 0"
            [class.negative]="evolution < 0">
            <i
              class="bi"
              [class.bi-arrow-up]="evolution >= 0"
              [class.bi-arrow-down]="evolution < 0">
            </i>
            {{ evolution }}%
          </strong>
        </span>
      </div>
    </div>

    <div class="metrics">
      <div class="metric">
        <i class="bi bi-clipboard"></i>
        <div>
          <small>Avaliações</small>
          <strong>{{ card.evaluations }}</strong>
        </div>
      </div>
      <div class="divider"></div>
      <div class="metric">
        <i class="bi bi-bell"></i>

        <div>
          <small>Alertas</small>
          <strong class="alert-color">
            {{ card.alerts }}
          </strong>
        </div>
      </div>
    </div>
  </div>

  <button class="details-btn" (click)="onDetailsClick()">
    Ver detalhes
    <i class="bi bi-arrow-right"></i>
  </button>
</div>
